<% if !@marks.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@marks_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-result'>
      <thead>
        <tr>
          <th scope='col'>Descrição</th>
          <th scope='col'>Projeto</th>
          <th scope='col'>Previsão</th>
          <th scope='col'>Complemento</th>
          <th scope='col'>Requisições</th>
          <th scope='col'>Status</th>
          <th scope='col' class='text-center col-actions-two'>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @marks.each do |mark| %>
          <tr>
            <td class='align-middle'><%=mark.description%></td>
            <td class='align-middle'><%=mark.project_description%></td>
            <td class='align-middle'><%=format_date(mark.due_date)%></td>
            <td class='align-middle'><%=mark.description_complement%></td>
            
            <td class='align-middle'>
              <%=mark.count_requests.to_s.rjust(2, "0")%>
            </td>

            <% if mark.closed %> 
              <td class='align-middle'><span class="badge text-bg-primary badge-table">Finalizada</span></td>
            <% elsif %>
              <td class='align-middle'><span class="badge text-bg-success badge-table">Aberta</span></td>
            <% end %>

            <td class='align-middle text-center'>
              <% if current_user.mark_finish %>
                <% if mark.closed %> 
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reabrir Meta">
                    <a class="btn btn-outline-success btn-sm btn-close-open me-2" href="#" data-bs-toggle="modal" 
                      data-bs-target="#reopen<%=mark.id.to_s%>">Reabrir</a>
                  </span>                
                <% else %>
                  <%= link_to close_mark_path(mark, q_sys: params[:q_sys],
                                                    q_desc: params[:q_desc],
                                                    page: params[:page]), 
                                                    class: 'btn btn-outline-success btn-sm btn-close-open me-2', 
                                                    data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Finalizar Meta" } do %>
                    Finalizar
                  <% end %>              
                <% end %>
              <% end %>                   

              <%= link_to mark_path(mark, q_sys: params[:q_sys],
                                          q_desc: params[:q_desc],
                                          page: params[:page]), 
                                          class: 'td-actions', 
                                          data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar" } do %>
                <i class="fa-regular fa-eye pe-1"></i>
              <% end %>

              <% if current_user.mark_edit %>
                <%= link_to edit_mark_path(mark,q_sys: params[:q_sys],
                                                q_desc: params[:q_desc],
                                                page: params[:page]), 
                                                class: 'td-actions', 
                                                data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Alterar" } do %>
                  <i class="fa-regular fa-pen-to-square pe-1"></i>
                <% end %>
              <% else %>
                <%=edit_not_allowed%>
              <% end %>                

              <% if current_user.mark_delete %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir">
                  <a class="td-actions" href="#" data-bs-toggle="modal" 
                    data-bs-target="#delete<%=mark.id.to_s%>"><i class="fa-regular fa-trash-can pe-1"></i></a>
                </span>
              <% else %>
                <%=delete_not_allowed%>
              <% end %>                
            </td>
          </tr>

          <div class="modal modal-reopen fade" id="reopen<%=mark.id.to_s%>" tabindex="-1" 
                aria-labelledby="reopenLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header"> <i class="fas fa-exclamation-triangle fa-2x modal-header-icon me-2"></i>
                  <h1 class="modal-title" id="reopenLabel">Confirmação</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  Confirma a reabertura da Meta <strong><%= mark.description %></strong> ?

                  <div class='alert alert-success p-2 mt-4' role='alert'>
                    <i class='fas fa-exclamation-circle'></i> Todas as requisições relacionadas serão reabertas automaticamente.
                  </div>                    
                </div>

                <div class="modal-footer actions">
                  <%= link_to 'Reabrir', reopen_mark_path(mark, q_sys: params[:q_sys],
                                                                q_desc: params[:q_desc],
                                                                page: params[:page]), 
                      class:"btn btn-success", method: :put %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>   

          <div class="modal modal-delete fade" id="delete<%=mark.id.to_s%>" tabindex="-1" 
                aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header"> <i class="fas fa-exclamation-triangle fa-2x modal-header-icon me-2"></i>
                  <h1 class="modal-title" id="deleteLabel">Confirmação</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  Confirma a exclusão da Meta <strong><%= mark.description %></strong> ?
                </div>
                <div class="modal-footer actions">
                  <%= link_to 'Excluir', mark_path(mark,q_sys: params[:q_sys],
                                                        q_desc: params[:q_desc],
                                                        page: params[:page]), 
                      class:"btn btn-danger", method: :delete %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @marks, window: Constants::PAGINATE_WINDOW, remote: false %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>      
