<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Meta - Visualização')%>
      </div>
      <div class="ph-right">
        <%= link_to 'Retornar', marks_path(q_sys: params[:q_sys],
                                            q_desc: params[:q_desc]), class: 'btn btn-action btn-secondary' %>        
      </div>
    </div>

    <div class="card card-size shadow">
      <div class="card-body card-body-style brd">

        <% @marks.each do |mark| %>
          <div class="row">

            <div class="col-12 mb-1">
              <div class="col-title d-flex align-items-center">              

                <div class="w-100 ms-2">
                  <div class="first-line">
                    <span class="fw-semibold me-1"><%= mark.description %></span>

                    <% if mark.closed %> 
                      <td class='align-middle'><span class="badge rounded-pill text-bg-primary badge-table">Finalizada</span></td>
                    <% elsif %>
                      <td class='align-middle'><span class="badge rounded-pill text-bg-success badge-table">Aberta</span></td>
                    <% end %>                    
                  </div>
                  
                  <div class="second-line text-muted">
                    <span>
                      <span class="me-3"><%=mark.project_description%></span>
                      <span class="me-3">Previsão: <%=format_date(mark.due_date)%></span>
                      <span class="me-3">Complemento: <%=mark.description_complement%></span>
                    </span>                
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="actions pt-2 text-end">
          </div>
        <% end %>

      </div>
    </div>

  </div>
</main>