<% if !@positions.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@positions_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-result'>
      <thead>
        <tr>
          <th scope='col'>Descrição</th>
          <th scope='col' class='text-center col-actions-two'>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @positions.each do |position| %>
          <tr>
            <td class='align-middle'> <%= position.description %> </td>
            <td class='align-middle text-center '>
              <%= link_to root_path, class: 'td-actions', title: "Alterar" do %>
                <i class="fa-regular fa-pen-to-square pe-1"></i>
              <% end %>

              <%= link_to root_path, class: 'td-actions', title: "Excluir" do %>
                <i class="fa-regular fa-trash-can pe-1"></i>
              <% end %>              
            </td>
          </tr>        
        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @positions, window: Constants::PAGINATE_WINDOW, remote: true %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>      
