<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <div>Cargos/Funções</div>
      </div>
      <div class="ph-right">
        <%= link_to(new_position_path(search_description: params[:search_description]),  class: "btn btn-action btn-success") do %>
          <i class="fa-solid fa-plus"></i></i> Incluir
        <%end%>             
      </div>          
    </div>
    
    <div class="card">
      <div class="card-body card-body-style">
        <%= form_with(url: positions_path, class:'row', method: 'get', local: true) do |form| %>
          <div class="col-12 col-md-6 mb-1">
            <label for="position_id" class="form-label">Descrição</label>  
            <input type="text" name="search_description" id="description_id" class="form-control" maxlength="50" autofocus autocomplete="off" value=<%=params[:search_description]%> >
          </div>

          <div class="col-btn-search col-12 col-md-6 align-self-end mb-1">
            <%= button_tag class:"btn btn-outline-success btn-search", id:'btn_consultar_id_01', data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'search' %>
  </div>                    
</main>
