<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <div>Alocação de Usuários - <%= action_message %> </div>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size">
      <div class="card-body card-body-style">

        <%= form_with(model: @allocation ) do |form| %>
          <%= render "shared/error_messages", resource: @allocation %>

          <div class="row">

            <div class="col-12 mb-3">
              <%= form.label :system_id, class:"form-label"%>
              
              <% if (params[:action] == "edit") or (params[:action] == "update") %>              
                <%= select_tag :system_id, 
                                options_from_collection_for_select( System.select(:id, :description)
                                                                          .joins(:company)
                                                                          .where("company_id = ?", current_user.company.id)
                                                                    .order("unaccent(description)"),
                                                                    :id, :description, @allocation.system_id),
                                class:"form-control", disabled:"true" %>
              <%elsif%>
                <%= select_tag :system_id, 
                                options_from_collection_for_select( System.select(:id, :description)
                                                                          .joins(:company)
                                                                          .where("company_id = ?", current_user.company.id)
                                                                    .order("unaccent(description)"),
                                                                    :id, :description, @allocation.system_id),
                                include_blank: "Selecione...", 
                                class:"form-select #{is_invalid(@allocation, '_system_isempty_')}",
                                name:"allocation[system_id]",
                                autofocus: true %>
              <%end%>                                
            </div>

            <div class="col-12 mb-3">

            </div>

            <%= hidden_field_tag :q_sys, params[:q_sys] %>

          </div>

          <div class="actions pt-2 text-end">
            <%= form.submit "Salvar", class:"btn btn-success me-1"%>
            <%= link_to 'Cancelar', allocations_path(q_sys: params[:q_sys]), class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</main>