<div class="row">

  <div class="col-12 col-xl-2 col-xxl-3">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col icon-project">
            <div class="box-project d-flex justify-content-center align-items-center" >
              <i class="fa-solid fa-circle-question"></i>
            </div>
          </div>
          <div class="col col-lines">
            <div class="line-1-project">Ajudas</div>
            <div class="line-2-project"><%=Help.all.where('project_id = ?', project_id).count%></div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-4 col-xxl-3">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">

          <div class="col-12 col-md-7">
            <div class="row">
              <div class="col icon-project">
                <div class="box-project d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-inbox"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1-project">Requisições</div>
                <div class="line-2-project"><%=Request.all.where('project_id = ?', project_id).count%></div>
              </div>
            </div> 
          </div>

          <div class="col-12 col-md-5 request-count">
            <div class="col d-flex justify-content-between">
              <div class="">Abertas</div>
              <div class=""><%=Request.all.where('project_id = ? and status = ?', project_id, Constants::STATUS_ABERTA[1]).count%></div>
            </div>
            <div class="col d-flex justify-content-between">
              <div class="">Finalizadas</div>
              <div class=""><%=Request.all.where('project_id = ? and status = ?', project_id, Constants::STATUS_FINALIZADA[1]).count%></div>
            </div>
            <div class="col d-flex justify-content-between">
              <div class="">Arquivadas</div>
              <div class=""><%=Request.all.where('project_id = ? and status = ?', project_id, Constants::STATUS_ARQUIVADA[1]).count%></div>
            </div>                        
          </div>

        </div> 
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-2 col-xxl-3">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col icon-project">
            <div class="box-project d-flex justify-content-center align-items-center" >
              <i class="fa-solid fa-tags"></i>
            </div>
          </div>
          <div class="col col-lines">
            <div class="line-1-project">Tags</div>
            <div class="line-2-project"><%=Tag.all.where('project_id = ?', project_id).count%></div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-4 col-xxl-3">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">

          <div class="col-12 col-md-7">
            <div class="row">
              <div class="col icon-project">
                <div class="box-project d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-bullseye"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1-project">Metas</div>
                <div class="line-2-project"><%=Mark.all.where('project_id = ?', project_id).count%></div>
              </div>
            </div> 
          </div>

          <div class="col-12 col-md-5 request-count col-lines">
            <div class="col d-flex justify-content-between align-items-center">
              <div class="">Abertas</div>
              <div class=""><%=Mark.all.where('project_id = ? and closed = false', project_id).count%></div>
            </div>
            <div class="col d-flex justify-content-between align-items-center">
              <div class="">Finalizadas</div>
              <div class=""><%=Mark.all.where('project_id = ? and closed = true', project_id).count%></div>
            </div>
          </div>

        </div> 
      </div>
    </div>
  </div>

</div>