<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Painel')%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <%= render partial: 'general'%> 

    <% if !@projects.empty? %>    

      <% @projects.each do |project| %>
        <div class="card card-topic">
          <div class="card-header">
            <i class="fa-solid fa-angles-right pe-2"></i>Projeto <strong><%=project.description%></strong>
          </div>
          <div class="card-body">
            <%= render partial: 'project', locals: {project_id: project.id}%> 
          </div>
        </div>
      <% end %> 
    <% else %>
      <div class='alert alert-warning record-not-found' role='alert'>
        <i class='fas fa-triangle-exclamation fa-lg'></i> Nenhum Projeto liberado para este usuário
      </div>
    <% end %> 

  </div>                    
</main>