<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-brand-align">
    <%= image_tag "logo.png", class:"img-logo", alt: "Logo" %>
  </div>

  <div class="menubar-top ps-4">
    <a data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample"> <i class="bars fa-solid fa-bars fa-2x"></i> </a>
    <ul class="main-menu">
      
      <li class="menu-item has-sub">
        <%= link_to(root_path,  class: "menu-link") do %>Painel<%end%>
      </li>

      <li class="menu-item has-sub">
        <a href="#" class="menu-link">
          <span class="pe-2">Cadastros</span><i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="submenu">
          <div class="submenu-group-wrapper">
            <ul class="submenu-group">

              <li class="submenu-item">
                <%= link_to(customers_path,  class: "subsubmenu-link") do %>Clientes<%end%>
              </li>

              <% if current_user.menu_admin? %>
                <li class="submenu-item has-sub">
                  <a href="#" class="submenu-link">Administrativo</a><i class="fa-solid fa-chevron-right"></i>

                  <ul class="subsubmenu">

                    <li class="subsubmenu-item">
                      <%= link_to(projects_path,  class: "subsubmenu-link") do %>Projetos<%end%>
                    </li>                  

                    <li class="subsubmenu-item">
                      <%= link_to(positions_path,  class: "subsubmenu-link") do %>Cargo/Função<%end%>
                    </li>

                    <li class="subsubmenu-item">
                      <%= link_to(employee_users_path,  class: "subsubmenu-link") do %>Usuários<%end%>
                    </li>

                  </ul>
                </li>              
              <% end %>
              
              <li class="submenu-item">
                <%= link_to(tags_path,  class: "subsubmenu-link") do %>Tags<%end%>
              </li>                                        

              <li class="submenu-item">
                <%= link_to(marks_path,  class: "subsubmenu-link") do %>Metas<%end%>
              </li>                
            </ul>
          </div>
        </div>
      </li>

      <li class="menu-item has-sub">
        <%= link_to(requests_path,  class: "menu-link") do %>Requisições<%end%>
      </li>

      <li class="menu-item has-sub">
        <%= link_to(helps_path,  class: "menu-link") do %>Central de Ajuda<%end%>
      </li>      

    </ul>
  </div>

  <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
  </div>
  <ul class="navbar-nav ms-auto ms-md-0 me-2">
    <li class="data-user">
      <p class="m-0 text-end user-name">Olá, <%=current_user.name_display%></p>
      <p class="m-0 text-muted user-date"><%=I18n.l(Date.today, format: :long).capitalize()%></p>
    </li>   

    <div class="menubar-top menubar-top-user ps-2">
      <ul>
        <li class="menu-item has-sub avatar-link">
          <div class="user-dropdown d-flex align-items-center dropdown-toggle" >
            <div class="avatar">
              <%=user_avatar(current_user.id, "")%>
            </div>
          </div>
        
          <div class="submenu submenu-user">
            <div class="submenu-group-wrapper">
              <ul class="submenu-group submenu-group-user">
                <li class="submenu-item">
                  <%= link_to(edit_user_registration_path, class: "submenu-link pe-1") do %>
                    Meus dados
                  <%end%>                      
                </li>

                <li class="submenu-item">
                  <%= link_to(destroy_user_session_path,  method: :delete , class: 'dropdown-item') do %>
                    <i class="fa-solid fa-right-from-bracket"></i> Sair
                  <%end%>                      
                </li>
              </ul>
            </div>
          </div>
        </li>  
      </ul>
    </div>

  </ul>
</nav>