<p>Olá <%= @name %>.</p>
<p>Uma meta foi finalizada no projeto <strong><%=@project_description%></strong>.</p>
<p>Meta: <strong><%=@mark_title%></strong>.</p>
<a href="<%=root_url%>marks/<%=@mark_id%>">Clique para visualizar a meta</a>