<p>Olá <%= @name %>.</p>
<p>Um novo comentário foi adicionado por <%=@name_created%> no projeto <strong><%=@project_description%></strong>.</p>
<p>Requisição: <strong><%=@request_title%></strong>.</p>
<a href="<%=root_url%>requests/<%=@request_id%>">Clique para visualizar a requisição</a>