<p>Olá <%= @name %>.</p>
<p>Uma nova requisição foi criada no SFHelpdesk para o projeto <strong><%=@project_description%></strong>.</p>
<p>Título: <strong><%=@request_title%></strong>.</p>
<a href="<%=root_url%>requests/<%=@request_id%>">Clique para visualizar a requisição</a>