<% if !@customers.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@customers_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-result'>
      <thead>
        <tr>
          <th scope='col'>Código</th>
          <th scope='col'>Nome</th>
          <th scope='col'>CNPJ/CPF</th>
          <th scope='col'>Município</th>
          <th scope='col'>UF</th>
          <th scope='col'>Status</th>
          <th scope='col' class='text-center col-actions-two'>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          
          <tr>
            <td class='align-middle'> <%= customer.code_f %> </td>
            <td class='align-middle'> <%= customer.name %> </td>
            <td class='align-middle'> <%= customer.cpfcnpj_number %> </td>
            <td class='align-middle'> <%= customer.city_name %> </td>
            <td class='align-middle'> <%= customer.city_state %> </td>

            <% if customer.active %> 
              <td class='align-middle'><span class="badge text-bg-success badge-table">Ativo</span></td>
            <% elsif %>
              <td class='align-middle'><span class="badge text-bg-danger badge-table">Inativo</span></td>
            <% end %>            

            <td class='align-middle text-center '>
              <%= link_to customer_path(customer, q_name: params[:q_name],
                                                  q_code: params[:q_code],
                                                  page: params[:page]), 
                                                  class: 'td-actions', 
                                                  data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar" } do %>
                <i class="fa-regular fa-envelope-open pe-1"></i>
              <% end %>

              <% if current_user.customer_edit %>
                <%= link_to edit_customer_path(customer,  q_name: params[:q_name],
                                                          q_code: params[:q_code],
                                                          page: params[:page]), 
                                                          class: 'td-actions', 
                                                          data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Alterar" } do %>
                  <i class="fa-regular fa-pen-to-square pe-1"></i>
                <% end %>
              <% else %>
                <%=edit_not_allowed%>
              <% end %>                

              <% if current_user.customer_delete %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir">
                  <a class="td-actions" href="#" data-bs-toggle="modal" 
                    data-bs-target="#delete<%=customer.id.to_s%>"><i class="fa-regular fa-trash-can pe-1"></i>
                  </a>
                <span>
              <% else %>
                <%=delete_not_allowed%>
              <% end %>
            </td>            
          </tr>

          <div class="modal modal-delete fade" id="delete<%=customer.id.to_s%>" tabindex="-1" 
                aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header"> <i class="fas fa-exclamation-triangle fa-2x modal-header-icon me-2"></i>
                  <h1 class="modal-title" id="deleteLabel">Confirmação</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  Confirma a exclusão do Cliente: <br> <%= customer.name %> ?
                </div>
                <div class="modal-footer actions">
                  <%= link_to 'Excluir', customer_path(customer,  q_name: params[:q_name],
                                                                  q_code: params[:q_code],
                                                                  page: params[:page]), 
                      class:"btn btn-danger", method: :delete %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

        <% end %> 

      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @customers, window: Constants::PAGINATE_WINDOW, remote: false %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>      
