<% if (current_user.id == @requests[0].user_responsible_id) %>
  <% if @requests[0].status == Constants::STATUS_ABERTA[1] %>
    <% if @requests[0].step == Constants::STEP_EXECUTANDO[1] %>    
      <span data-bs-toggle="modal" data-bs-target="#step-wait<%=@requests[0].id.to_s%>">
        <a class="btn btn-outline-danger me-3" href="#" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Parar a Execução da Requisição">
            <i class="fa-solid fa-person-running fa-lg"></i></a>
      </span>

    <% elsif @requests[0].step == Constants::STEP_AGUARDANDO[1] %>

      <span data-bs-toggle="modal" data-bs-target="#step-execute<%=@requests[0].id.to_s%>">
        <a class="btn btn-outline-success me-3" href="#" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Iniciar a Execução da Requisição">
            <i class="fa-solid fa-person-running fa-lg"></i></a>
      </span>

    <% end %>
  <% end %>    
<% end %>

<span class="me-3">
  <% if current_user.request_finish %>      
    <% if @requests[0].status == Constants::STATUS_ABERTA[1] %>
      <span data-bs-toggle="modal" data-bs-target="#status-finished<%=@requests[0].id.to_s%>">
        <a class="btn btn-outline-success" href="#" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Finalizar Requisição">
            <i class="fa-solid fa-check fa-lg"></i></a>
      </span>

      <span data-bs-toggle="modal" data-bs-target="#status-archived<%=@requests[0].id.to_s%>">
        <a class="btn btn-outline-success me-3" href="#" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Arquivar Requisição">
            <i class="fa-solid fa-inbox fa-lg"></i></a>
      </span>                
    <% elsif (@requests[0].status == Constants::STATUS_FINALIZADA[1]) or 
            (@requests[0].status == Constants::STATUS_ARQUIVADA[1]) %>
      <span data-bs-toggle="modal" data-bs-target="#status-reopen<%=@requests[0].id.to_s%>">
        <a class="btn btn-outline-success me-3" href="#" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reabrir Requisição">
            <i class="fa-regular fa-folder-open fa-lg"></i></a>
      </span>                
    <% end %>
  <% end %>

  <% if current_user.request_edit %>
    <%= link_to edit_request_path(@requests[0].id,q_sys: params[:q_sys],
                                                  q_status: params[:q_status],
                                                  q_content: params[:q_content], 
                                                  q_order: params[:q_order]), 
                                                  class: 'btn btn-outline-success',
                                                  data: { bs_toggle: 'tooltip', 
                                                          bs_placement: "top", 
                                                          bs_title: "Alterar Requisição" } do %>
      <i class="fa-regular fa-pen-to-square fa-lg"></i>
    <% end %>
  <% end %>  

  <% if current_user.request_delete %>
    <span data-bs-toggle="modal" data-bs-target="#delete<%=@requests[0].id.to_s%>">
      <a class="btn btn-outline-success" href="#" 
          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir Requisição">
          <i class="fa-solid fa-trash fa-lg"></i></a>
    </span>
  <% end %>
</span>

<%= link_to 'Retornar', requests_path(q_sys: params[:q_sys],
                                      q_status: params[:q_status],
                                      q_content: params[:q_content],
                                      q_order: params[:q_order]), 
                                      class: 'btn btn-action btn-secondary' %> 