<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Requisição - ' + action_message)%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size">
      <div class="card-body card-body-style">

        <%= form_with(model: @request ) do |form| %>
          <%= render "shared/error_messages", resource: @request %>

          <div class="row">
            <div class="col-11 mb-3">
              <%= form.label :title, class:"form-label" %>
              <%= form.text_field :title, 
                  class:"form-control title-style #{is_invalid(@request, '_title_isempty_')}", 
                  autofocus: true, autocomplete: :off, maxlength:"100" %>
            </div>

            <div class="col-1 mb-3">
              <%= form.label :priority, class:"form-label" %>              
              <div class="form-check form-switch">
                <%= form.check_box :priority, class:"form-check-input", id:"flexSwitchCheckChecked" %>
              </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :project_id, class:"form-label" %>
              <%= select_tag :project_id, 
                              form_select_project_allocations(@request.project_id),
                              class:"form-select form-control #{is_invalid(@request, '_project_isempty_')}",
                              data: {remote: true, url: url_for(controller: "projects", action: "filter_topic_mark")},
                              name:"request[project_id]" %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :topic_id, class:"form-label" %>
              <%= select_tag :topic_id, 
                              form_select_topic(@request.project_id, @request.topic_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control #{is_invalid(@request, '_topic_id_isempty_')}",
                              data: {remote: true, url: url_for(controller: "sub_topics", action: "filter")},
                              name:"request[topic_id]" %>
            </div> 

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :sub_topic_id, class:"form-label" %>
              <%= select_tag :sub_topic_id, 
                              form_select_sub_topic(@request.topic_id, @request.sub_topic_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control",
                              name:"request[sub_topic_id]" %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :mark_id, class:"form-label" %>
              <%= select_tag :mark_id, 
                              form_select_mark(@request.project_id, @request.mark_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control",
                              name:"request[mark_id]" %>
            </div>             

            <div class="col-12 col-md-8 mb-3">
              <%= form.label :customer_id, class:"form-label" %>
              <%= select_tag :customer_id, 
                              form_select_customer(@request.customer_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control",
                              name:"request[customer_id]" %>
            </div>  

            <div class="col-12 col-md-4 mb-3">
              <%= form.label :requester_name, class:"form-label" %>
              <%= form.text_field :requester_name, 
                  class:"form-control", 
                  autofocus: true, autocomplete: :off, maxlength:"30" %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :status, class:"form-label" %>
              <%= form.select(:status, [Constants::STEP_ABERTA,
                                        Constants::STEP_FINALIZADA,
                                        Constants::STEP_ARQUIVADA], 
                                      {},
                                      class:'form-select form-control', 
                                      id:'idstep') %>
            </div>                

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :step, class:"form-label" %>
              <%= form.select(:step, [Constants::STATUS_EXECUTANDO,
                                      Constants::STATUS_AGUARDANDO,
                                      Constants::STATUS_PAUSADA,
                                      Constants::STATUS_CONCLUIDA], 
                                      {},
                                      class:'form-select form-control', 
                                      id:'idstatus') %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :user_responsible_id, class:"form-label" %>
              <%= select_tag :user_responsible_id, 
                              form_select_user_allocation(@request.project_id, @request.user_responsible_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control #{is_invalid(@request, '_user_responsible_isempty_')}",
                              name:"request[user_responsible_id]" %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :created_date, class:"form-label" %>
              <%= form.date_field :created_date, class:"form-control", autocomplete: :off %>
            </div>                

      <%# 
      
      t.integer :user_created_id, null: false
      t.datetime :created_date, null: false        %>


            <%= hidden_field_tag :q_title, params[:q_title] %>
          </div>

          <div class="actions pt-2 text-end">
            <%= form.submit "Salvar", class:"btn btn-success input-btn me-1"%>
            <%= link_to 'Cancelar', requests_path(q_title: params[:q_title]), class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</main>