<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Requisição - ' + action_message)%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size">
      <div class="card-body card-body-style">

        <%= form_with(model: @request ) do |form| %>
          <%= render "shared/error_messages", resource: @request %>

          <div class="row">
            <div class="col-10 mb-3">
              <%= form.label :title, class:"form-label" %>
              <%= form.text_field :title, 
                  class:"form-control semibold #{is_invalid(@request, '_title_isempty_')}", 
                  autofocus: true, autocomplete: :off, maxlength:"100" %>
            </div>

            <div class="col-1 mb-3">
              <%= form.label :id, class:"form-label" %>
              <% if (params[:action] == "edit") or (params[:action] == "update") %>
                <input class="form-control " value="<%=@request.id.to_s.rjust(4, "0")%>" disabled>
              <% else %>
                <input class="form-control " value="" disabled>
              <% end %>
            </div>

            <div class="col-1 mb-3">
              <%= form.label :priority, class:"form-label" %>              
              <div class="form-check form-switch">
                <%= form.check_box :priority, class:"form-check-input", id:"flexSwitchCheckChecked" %>
              </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :project_id, class:"form-label" %>
              <%= select_tag :project_id, 
                              form_select_project_allocations(@request.project_id),
                              class:"form-select form-control #{is_invalid(@request, '_project_isempty_')}",
                              data: { remote: true, 
                                      url: url_for(controller: "projects", action: "filter_project_dependency")},
                              name:"request[project_id]" %>
            </div>

            <div class="col-12 col-md-9 mb-3">
              <label class="form-label" for="tag_ids">Selecione as Tags (max:5)</label>
              <%= select_tag :tag_ids,
                              form_select_project_tags(@request.project_id),
                              multiple: true,
                              class:"form-control",
                              name:"tag_ids[]"%> 
            </div>


            <div class="col-12 col-md-6 mb-3">
              <%= form.label :customer_id, class:"form-label" %>
              <%= select_tag :customer_id, 
                              form_select_customer(@request.customer_id),
                              include_blank: "Selecione..", 
                              class:"form-control",
                              name:"request[customer_id]" %>
            </div>  

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :requester_name, class:"form-label" %>
              <%= form.text_field :requester_name, 
                  class:"form-control", 
                  autocomplete: :off, maxlength:"30" %>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :mark_id, class:"form-label" %>
              <%= select_tag :mark_id, 
                              form_select_mark(@request.project_id, @request.mark_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control",
                              name:"request[mark_id]" %>
            </div>                         

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :status, class:"form-label" %>
              <%= form.select(:status, [Constants::STEP_ABERTA,
                                        Constants::STEP_FINALIZADA,
                                        Constants::STEP_ARQUIVADA], 
                                      {},
                                      class:'form-select form-control', 
                                      id:'idstatus') %>
            </div>                

            <div class="col-12 col-md-3 mb-3">
              <%= form.label :step, class:"form-label" %>
              <%= form.select(:step, [Constants::STATUS_EXECUTANDO,
                                      Constants::STATUS_AGUARDANDO,
                                      Constants::STATUS_PAUSADA,
                                      Constants::STATUS_CONCLUIDA], 
                                      {},
                                      class:'form-select form-control', 
                                      id:'idstep') %>
            </div>

            <div class="col-12 col-md-4 mb-3">
              <%= form.label :user_responsible_id, class:"form-label" %>
              <%= select_tag :user_responsible_id, 
                              form_select_user_allocation(@request.project_id, @request.user_responsible_id),
                              include_blank: "Selecione..", 
                              class:"form-select form-control #{is_invalid(@request, '_user_responsible_isempty_')}",
                              name:"request[user_responsible_id]" %>
            </div>

            <div class="col-12 col-md-2 mb-3">
              <%= form.label :due_date, class:"form-label" %>
              <%= form.date_field :due_date, class:"form-control", autocomplete: :off %>
            </div>

            <div class="col-12 mt-4 mb-3">
              <div class="field">
                <%= form.label :content, class:"form-label" %>
                <%= form.rich_text_area :content %>
              </div>            
            </div>

            <% if @request.any_attached? %>
              <div class="col-12 mb-3">
                <label class="form-label">Anexos cadastrados</label>
                <div class="table-responsive table-attached">
                  <table class='table table-borderless table-hover'>
                    <tbody>
                      <% @request_files.each do |request_file| %>
                        <% request_file.files.each do |file| %>
                          <tr class="tr-attached">
                            <td class="align-middle" id='filename_<%= file.id %>'><%= file.filename %></td>
                            <td class='align-middle'><%= number_to_human_size(file.byte_size) %></td>

                            <td class='align-middle text-center'>
                              <% if ActiveStorage.content_types_allowed_inline.include?(file.content_type) %>
                                <%= link_to rails_blob_url(file, disposition: "inline", only_path: true), target: :_blank,
                                  title: "Visualizar Arquivo", id:"id_view_#{file.id}", class:"class_view" do %>
                                  <i class="fa-solid fa-eye"></i>
                                <%end%>
                              <%else%>                                  
                                <span title="Não disponível">
                                  <i class="fa-solid fa-eye unavailable"></i>
                                </span>
                              <%end%>
                            </td>

                            <td class='align-middle text-center'>
                              <%= link_to rails_blob_path(file, disposition: "attachment", only_path: true),
                                title: "Download do Arquivo", id:"id_download_#{file.id}", class:"class_download" do %>
                                <i class="fa-solid fa-download"></i>
                              <%end%> 
                            </td>                              
                          </tr>                          
                        <%end%>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            <%end%>

            <div class="col-12 mb-3">
              <label for="new_files", class="form-label">Adicionar anexos: (max:3 MB)</label>
              <%= form.file_field :new_files, multiple: true, class:"file_area"%> 
            </div>

            <div class="col-12">
              <div class="file_selected">
                <div id="fileList"></div>
              </div>
            </div>

            <%= hidden_field_tag :q_sys, params[:q_sys] %>
            <%= hidden_field_tag :q_status, params[:q_status] %>
            <%= hidden_field_tag :q_content, params[:q_content] %>
            <%= hidden_field_tag :tag_ids_selected, @request.tag_ids.to_a %>
          </div>

          <div class="actions pt-4 text-end">
            <%= form.submit "Salvar", class:"btn btn-success input-btn me-1"%>
            <%= link_to 'Cancelar', requests_path(q_sys: params[:q_sys],
                                                  q_status: params[:q_status],
                                                  q_content: params[:q_content]), class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</main>