<% if !@requests.empty? %>

  <div class="status-line <%=color_status(params[:q_status].to_i)%>"> 
    <div class="d-flex"> 
      <div class="status-text"> <%=status(params[:q_status].to_i)%> ( <%=@requests_size.to_s.rjust(2, "0") %> )</div>
    </div>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive border-start border-end">
    <table class='table table-striped table-hover table-result mb-0'>
      <thead>
        <tr>
          <th scope='col'>Requisições</th>
          <th scope='col'></th>
          <th scope='col'></th>
          <th scope='col'></th>
          <th scope='col'></th>
          <th scope='col' class='text-center'></th>
        </tr>      
      </thead>

      <tbody>
        <% @requests.each_with_index do |request, index| %>
          <tr>
            <td class="align-middle">
              <div class="first-line">
                <span>
                  <span class="fw-semibold text-decoration-none link-dark">
                    <%= link_to request_path(request, q_sys: params[:q_sys],
                                                      q_status: params[:q_status],
                                                      q_content: params[:q_content],
                                                      q_order: params[:q_order]), 
                                                      class:"fw-semibold text-decoration-none link-dark me-2",
                                                      data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar Requisição" } do %>
                      <%= request.title%>
                    <% end %>
                  </span>

                  <span class="badge bg-style <%=bg_status(request.status)%> me-1"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Status da Requisição">
                    <%=status_request(request.status)%>
                  </span>

                  <% Methods.get_tags(request.id).each do |tag| %>
                    <span class="badge bg-style bg-tag me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                  <% end %>

                  <% if request.mark_description.present? %>
                    <span class="badge bg-style <%=color_mark(request.closed)%> me-1" 
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%=mark_description(request.closed)%>">
                      <i class="fa-solid fa-flag me-1"></i>
                      <%=request.mark_description%>
                    </span>
                  <% end %>                
                </span>
              </div>
              
              <div class="second-line">
                <span>
                  <span>Criação: <strong><%=format_date(request.created_date)%></strong></span>
                  <span class="me-3">por <strong><%=request.user_created_name%></strong></span>
                  <span class="me-3">Código: <strong><%=request.id.to_s.rjust(4, "0")%></strong></span>

                  <% if request.customers_name.present? && request.requester_name.present? %>
                    <span class="me-3">Solicitante: <strong><%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%>/<%=request.requester_name%></strong></span>
                  <% elsif request.customers_name.present? %>
                    <span class="me-3">Solicitante: <strong><%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%></strong></span> 
                  <% elsif request.requester_name.present? %>
                    <span class="me-3">Solicitante: <strong><%=request.requester_name%></strong></span>
                  <% end %>

                  <span class="me-3">Previsão: <strong><%=request.dues_date.present? ? format_date(request.dues_date) : '--'%></strong></span>
                  <span class="me-3">
                    Responsável: <strong><%=request.user_responsible_name.present? ? request.user_responsible_name : '--'%></strong>
                  </span>
                </span>
              </div>
            </td>

            <td class="align-middle col-icon text-muted text-center">
              <% if (request.step == Constants::STEP_EXECUTANDO[1]) and (request.status == Constants::STATUS_ABERTA[1]) %>    
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Em Execução por <%=request.user_responsible_name%>">
                  <i class="fa-solid fa-person-running fa-lg"></i>
                </span>
              <% end %>
            </td>            

            <td class="align-middle col-icon text-muted text-center">
              <% if request.any_attached? %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Anexo(s)">
                  <i class="fa-solid fa-paperclip"></i>
                  <%= request.count_attached %>
                </span>
              <% end %>
            </td>

            <td class="align-middle col-icon text-muted text-center">
              <% if request.count_comments > 0 %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Comentário(s)">
                  <i class="fa-regular fa-message"></i>
                  <%= request.count_comments %>
                </span>                  
              <% end %>
            </td>            

            <td class="align-middle col-priority text-center">
              <% if (request.priority) and (request.status == Constants::STATUS_ABERTA[1]) %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prioridade">
                  <i class="fa-solid fa-star"></i></span>
              <% end %>
            </td>


            <td class='align-middle text-center '>
              <%= link_to request_path(request, q_sys: params[:q_sys],
                                                q_status: params[:q_status],
                                                q_content: params[:q_content],
                                                q_order: params[:q_order]), 
                                                class: 'td-actions', 
                                                data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar Requisição" } do %>
                <i class="fa-regular fa-envelope-open pe-1"></i>
              <% end %>
            </td>  

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @requests, window: Constants::PAGINATE_WINDOW, remote: true %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>