<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Requisições')%>
      </div>
      <div class="ph-right">
        <%= link_to(new_request_path( q_sys: params[:q_sys],
                                      q_status: params[:q_status],
                                      q_content: params[:q_content]),  class: "btn btn-action btn-success") do %>
          <i class="fa-solid fa-plus"></i></i> Incluir
        <%end%>             
      </div>          
    </div>
    
    <div class="card">
      <div class="card-body card-body-style">
        <%= form_with(url: requests_path, class:'row', method: 'get', local: true) do |form| %>
          <div class="col-12 col-md-3 mb-1">
            <label for="project_id" class="form-label">Projeto</label>
            <%= select_tag :project_id, 
                            form_select_project_allocations(params[:q_sys]),
                            class:"form-select",
                            name:"q_sys",
                            autofocus: true %>
          </div>

          <div class="col-12 col-md-2 mb-1">          
            <label for="status" class="form-label">Status</label>
            <%= select_tag "status", 
                            options_for_select([Constants::STATUS_ABERTA_PLUR,
                                                Constants::STATUS_FINALIZADA_PLUR,
                                                Constants::STATUS_ARQUIVADA_PLUR], params[:q_status]),
                                                class:"form-select",
                                                name:"q_status" %>
          </div>

          <div class="col-12 col-md-3 mb-1">
            <label for="projectssearch_id" class="form-label">Tag</label>
            <%= select_tag :projectssearch_id, 
                            form_select_tag(params[:q_sys], params[:q_tag]),
                            include_blank: "Todas", 
                            class:"form-control",
                            name:"q_tag",
                            autofocus: true %>
          </div>     

          <div class="col-12 col-md-2 mb-1">
            <label for="position_id" class="form-label">Consultar por</label>  
            <input type="text" name="q_content" id="content_id" class="form-control" maxlength="50" 
                    autofocus autocomplete="off" placeholder="Digite o texto"  value=<%=params[:q_content]%>>
          </div>

          <div class="col-btn-search col-12 col-md-2 align-self-end mb-1">
            <%= button_tag class:"btn btn-outline-success btn-search", id:'btn_consultar_id', data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'search' %>
  </div>                    
</main>
