<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Requisição - Visualização')%>
      </div>
      <div class="ph-right">
        <%= link_to 'Retornar', requests_path(q_sys: params[:q_sys],
                                              q_status: params[:q_status],
                                              q_content: params[:q_content]), class: 'btn btn-action btn-secondary' %>
      </div>          
    </div>

    <div class="card card-size">
      <div class="card-body card-body-style">

        <% @requests.each do |request| %>

          <div class="row">

            <div class="col-12 mb-3">
              <div class="col-title d-flex align-items-center">
                <div class="col-status">
                  <i class="fa-solid fa-circle <%=color_status(request.status)%> "></i>
                </div>
              
                <div class="w-100">
                  <div class="first-line">
                    <span class="fw-semibold me-1"><%=request.title%></span>

                    <% Methods.get_tags(request.id).each do |tag| %>
                      <span class="badge rounded-pill bg-style bg-tag me-1"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                    <% end %>

                    <% if request.mark_description.present? %>
                      <span class="badge rounded-pill bg-style bg-mark me-1" 
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Meta"><i class="fa-solid fa-rocket me-2"></i>
                        <%=request.mark_description%>
                      </span>
                    <% end %>
                  </div>
                  
                  <div class="second-line second-line-show text-muted">
                    <span>
                      <span class="me-3"><%=request.projects_description%></span>
                      <span class="me-3">Id: <%=request.id.to_s.rjust(4, "0")%></span>
                      <span>Criação: <%=I18n.l(request.created_date.to_date(), format: :short).capitalize()%></span>
                      <span class="me-3">por <strong><%=request.user_created_name%></strong></span>

                      <% if request.customers_name.present? && request.requester_name.present? %>
                        <span class="me-3">Solicitante: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%>/<%=request.requester_name%></span>
                      <% elsif request.customers_name.present? %>
                        <span class="me-3">Solicitante: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%></span>                    
                      <% elsif request.requester_name.present? %>
                        <span class="me-3">Solicitante: <%=request.requester_name%></span>                                        
                      <% end %>
                    </span>                
                  </div>

                  <div class="second-line text-muted">
                    <span class="me-3">Previsão: <%=request.dues_date.present? ? format_date(request.dues_date) : '--'%></span>
                    <span class="me-3">Responsável: <strong><%=request.user_responsible_name.present? ? request.user_responsible_name : '--'%></strong></span>                  
                  </div>
                </div>

                <div class="col-priority">
                  <span class="badge rounded-pill bg-style bg-priority me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prioridade"><i class="fa-solid fa-star"></i>
                  </span>
                </div>                

                <div class="col-step">
                  <span class="badge rounded-pill <%=bg_step(request.step)%> me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Status da Execução"><%=step(request.step) %>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="field">
                <label class="form-label">Conteúdo da Requisição</label>
                <div class="border-content"><%= request.content %></div>
               </div>            
            </div>

            <%= hidden_field_tag :tag_ids_selected_show, @request_tag_ids.to_a %>
          </div>

          <div class="actions pt-3 text-end">
          </div>
        <% end %>
      </div>
    </div>

  </div>
</main>