<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Requisição - Visualização')%>
      </div>
      
      <div class="ph-right">
        <%= render partial: 'requests/btnactions' %> 
      </div>
    </div>

    <div class="card card-size shadow">
      <div class="card-body card-body-style brd">

        <% @requests.each do |request| %>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="col-title d-flex align-items-center">              
                <div class="w-100 ms-2">
                  <div class="first-line">
                    <span class="fw-semibold me-1"><%=request.title%></span>

                    <span class="badge bg-style <%=bg_status(request.status)%> me-2"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Status da Requisição"><%=status_request(request.status)%>
                    </span>                    

                    <% Methods.get_request_tags(request.id).each do |tag| %>
                      <span class="badge bg-style bg-tag me-2"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                    <% end %>

                    <% if request.mark_description.present? %>
                      <span class="badge bg-style <%=color_mark(request.mark.closed)%> me-2" 
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%=mark_description(request.mark.closed)%>">
                        <i class="fa-solid fa-bookmark fa-sm me-1"></i><%=request.mark_description%>
                      </span>
                    <% end %>
                  </div>
                  
                  <div class="second-line second-line-show">
                    <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                data-bs-title="Criado por <%=request.user_created_name%>" >
                      <%=user_avatar(request.user_created_id, "")%>
                    </span> 

                    <span>
                      <span class="me-3">Criação: <%=format_datetime(request.created_date)%></span>

                      <% if request.finished_date.present? %>
                        <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    data-bs-title="Finalizada por <%=request.user_finished_name%>" >
                          <%=user_avatar(request.user_finished_id, "")%>
                        </span> 

                        <span class="me-3">Finalização: <%=format_datetime(request.finished_date)%></span>
                      <% end %>

                      <% if request.archived_date.present? %>
                        <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    data-bs-title="Arquivada por <%=request.user_archived_name%>" >
                          <%=user_avatar(request.user_archived_id, "")%>
                        </span> 

                        <span class="me-3">Arquivamento: <%=format_datetime(request.archived_date)%></span>
                      <% end %>   

                      <span class="me-3">Código: <%=request.id.to_s.rjust(4, "0")%></span>

                      <% if request.customers_name.present? && request.requester_name.present? %>
                        <span class="me-3">Cliente: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%>/<%=request.requester_name%></span>
                      <% elsif request.customers_name.present? %>
                        <span class="me-3">Cliente: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%></span>
                      <% elsif request.requester_name.present? %>
                        <span class="me-3">Cliente: <%=request.requester_name%></span>
                      <% end %>

                    </span>                
                  </div>

                  <div class="second-line">
                    <span class="me-3">Previsão: <%=request.dues_date.present? ? format_date(request.dues_date) : '--'%></span>
                    <span class="me-3">Responsável: <%=request.user_responsible_name.present? ? request.user_responsible_name : '--'%></span>
                    <span class="me-3">Projeto: <%=request.projects_description%></span>
                  </div>                  
                </div>

                <% if request.status == Constants::STATUS_ABERTA[1] %>
                  <div class="col-priority-show text-muted">
                    <% if request.step == Constants::STEP_EXECUTANDO[1] %>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Em Execução por <%=request.user_responsible_name%>">
                        <i class="fa-solid fa-person-running step-execute-color fa-xl me-3"></i>
                    <% elsif request.step == Constants::STEP_CONCLUIDA[1] %>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Execução Concluída por <%=request.user_responsible_name%>">
                        <i class="fa-solid fa-child-reaching step-finish-color fa-xl me-3"></i>
                    <% end %>
                  </div>
                  
                  <% if request.priority %>
                    <div class="col-priority-show">
                      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prioridade">
                        <i class="fa-solid fa-star fa-lg"></i></span>
                    </div>                
                  <% end %>
                <% end %>

              </div>
            </div>

            <div class="col-12 mt-2 mb-3">
              <div class="field">
                <label class="form-label">Conteúdo da Requisição</label>
                <div class="border-content"><%= request.content %></div>
               </div>            
            </div>

            <% if request.any_attached? %>
              <div class="col-12">
                <label class="form-label">Anexos</label>
                <div class="table-responsive table-attached">
                  <table class='table table-borderless table-hover'>
                    <tbody>
                      <% @request_files.each do |request_file| %>
                        <% request_file.files.each do |file| %>
                          <tr class="tr-attached">
                            <td class="align-middle" id='filename_<%= file.id %>'><%= file.filename %></td>
                            <td class='align-middle'><%= number_to_human_size(file.byte_size) %></td>

                            <td class='align-middle icon-attached text-center'>
                              <% if ActiveStorage.content_types_allowed_inline.include?(file.content_type) %>
                                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visualizar Arquivo">
                                  <%= link_to rails_blob_url(file, disposition: "inline", only_path: true), target: :_blank,
                                    id:"id_view_#{file.id}", class:"class_view" do %>
                                    <i class="fa-solid fa-eye"></i>
                                  <%end%>
                                </span>
                              <%else%>                                  
                                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Não disponível">
                                  <i class="fa-solid fa-eye unavailable"></i>
                                </span>
                              <%end%>
                            </td>

                            <td class='align-middle icon-attached text-center'>
                              <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Download do Arquivo">
                                <%= link_to rails_blob_path(file, disposition: "attachment", only_path: true),
                                  id:"id_download_#{file.id}", class:"class_download" do %>
                                  <i class="fa-solid fa-download"></i>
                                <%end%> 
                              </span>
                            </td>                              
                          </tr>                          
                        <%end%>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            <%end%>

            <%= hidden_field_tag :tag_ids_selected_show, @request_tag_ids.to_a %>
          </div>

          <div class="actions pt-3 text-end">
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-size d-flex justify-content-between align-items-center text-success mt-4">
      <div class="ph-left ps-1 pe-3">
        <% @comments = @request_comments.size %>
        
        <% if @comments > 0 %>
          <i class="fa-regular fa-message fa-lg me-2"></i>Comentários ( <%=@comments.to_s.rjust(2, "0")%> )</a>
        <%else%>
          <i class="fa-regular fa-message fa-lg me-2"></i>Nenhum comentário cadastrado</a>
        <%end%>
      </div>

      <div>
        <%= link_to(new_request_comment_path( q_id: @requests[0].id,
                                              q_sys: params[:q_sys],
                                              q_status: params[:q_status],
                                              q_code: params[:q_code],
                                              q_content: params[:q_content],
                                              q_tag: params[:q_tag],
                                              q_customer: params[:q_customer],
                                              q_responsible: params[:q_responsible],
                                              q_mark: params[:q_mark],
                                              q_order: params[:q_order]),
                                              class: "btn btn-success",
                                              data: { bs_toggle: 'tooltip', 
                                                      bs_placement: "top", 
                                                      bs_title: "Adicionar Comentário" }) do %>
          <i class="fa-solid fa-plus fa-lg me-1"></i>Comentar</a>
        <%end%>
      </div>        
    </div>

    <% if @request_comments.present? %>
      <% @request_comments.each do |request_comment| %>    
        <div class="card card-size shadow mt-4">
          <div class="card-body card-body-style">
            
            <div class="mb-3">
              <div class="col-title-comment d-flex justify-content-between align-items-center">              
                <div class="d-flex align-items-center">
                  <div>
                    <span class="avatar-small">
                      <%=user_avatar(request_comment.user_id, "")%>
                    </span> 
                  </div>
                  
                  <div class="ms-2">
                    <strong><%=request_comment.user.nick_name%></strong> 
                      comentou em <%=I18n.l(request_comment.created_date, format: :date_time)%> 
                  </div>
                </div>                    

                <div class="col-actions-comment text-end">
                  <% if current_user.id == request_comment.user_id %> 
                    <%= link_to edit_request_comment_path(request_comment,q_id: request_comment.request,
                                                                          q_sys: params[:q_sys],
                                                                          q_status: params[:q_status],
                                                                          q_code: params[:q_code],
                                                                          q_content: params[:q_content],
                                                                          q_tag: params[:q_tag],
                                                                          q_customer: params[:q_customer],
                                                                          q_responsible: params[:q_responsible],
                                                                          q_mark: params[:q_mark],
                                                                          q_order: params[:q_order]), 
                                                                          class: 'btn btn-outline-success',
                                                                          data: { bs_toggle: 'tooltip', 
                                                                                  bs_placement: "top", 
                                                                                  bs_title: "Alterar Comentário" } do %>
                      <i class="fa-regular fa-pen-to-square "></i>
                    <% end %>

                    <span data-bs-toggle="modal" data-bs-target="#delete-comment<%=request_comment.id.to_s%>">
                      <a class="btn btn-outline-success" href="#" 
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir Comentário">
                          <i class="fa-solid fa-trash "></i></a>
                    </span>
                  <%end%>
                </div>
              </div>

              <div class="border-content-comment"><%= request_comment.content %></div>
            </div>
            
          </div>
        </div>

        <%= render partial: 'requests/modals/delete_comment', locals: { resource: request_comment } %>
      <%end%>
    <%end%>
  </div>

  <%= render partial: 'requests/modals/delete' %>
  <%= render partial: 'requests/modals/status' %>
  <%= render partial: 'requests/modals/step' %>

</main>