<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Usuário - ' + action_message)%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size shadow">
      <div class="card-body card-body-style brd">

        <%= form_with(model: [ :employee, @user ], html: { class: "needs-validation", novalidate: true }) do |form| %>
          <%= render "shared/error_messages", resource: @user %>

          <div class="row">
            <div class="col-12 col-md-8 mb-3">
              <%= form.label :name, class:"form-label" %>
              <%= form.text_field :name, 
                  class:"form-control #{is_invalid(@user, '_name_isempty_')}", 
                  autofocus: true, autocomplete: :off, maxlength:"60", 
                  required: :true, disabled: status_disable %>
            </div>

            <div class="col-12 col-md-4 mb-3">
              <%= form.label :nick_name, class:"form-label" %>
              <%= form.text_field :nick_name, 
                  class:"form-control #{is_invalid(@user, '_nick_name_isempty_')}", 
                  autofocus: true, autocomplete: :off, maxlength:"20", 
                  disabled: status_disable %>
            </div>

            <div class="col-12 mb-3">
              <label class="form-label" for="user_email">E-mail (será utilizado para acesso ao sistema)</label>              
              <%= form.text_field :email, 
                  class:"form-control input-email #{is_invalid(@user, '_email_isempty_')}", 
                  autofocus: true, autocomplete: :off, maxlength:"60", required: :true, disabled: enable_by_action(params[:action]) %>
            </div>                      

            <div class="col-12 mb-3">
              <%= form.check_box :active, class:"form-check-input", id:"active_id",
                                  disabled: enable_by_permission(params[:action]), 
                                  readonly: enable_by_permission(params[:action])%>
              <label class="align-checkbox" for="active_id">Cadastro ativo</label>
              
              <% if @user.admin %> 
                <span class="badge text-bg-secondary badge-table">Administrador</span>
              <% end %>                                            
            </div>

            <div class="col-12 mb-3">
              <%= form.check_box :permission_admin_menu, class:"form-check-input", id:"permission_admin_menu_id",
                                  disabled: enable_by_permission(params[:action]), 
                                  readonly: enable_by_permission(params[:action])%>
              <label class="align-checkbox" for="permission_admin_menu_id">Permitir acesso ao menu Cadastros/Administrativo</label>
            </div>

            <div class="col-12 mb-3">
              <%= form.check_box :permission_request, class:"form-check-input", id:"permission_request_id",
                                  disabled: enable_by_permission(params[:action]), 
                                  readonly: enable_by_permission(params[:action])%>
              <label class="align-checkbox" for="permission_request_id">Permitir alteração/exclusão de requisições de outros usuários</label>
            </div>            

            <div class="col-12 mt-3">
              <div class="alert alert-success alert-divider" role="alert">
                <i class="fa-solid fa-user-shield pe-2"></i>Selecione os projetos que este usuário terá acesso:
              </div>
            </div>

            <div class="col-12">
              <%if !@projects.empty?%>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Projetos</th>
                      <th scope="col" class="text-center">Principal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @projects.each_with_index do |project, index| %>
                      <tr>
                        <td>
                          <input class="form-check-input" id=<%="project_id_#{project.id}"%> 
                                                          type="checkbox" 
                                                          value="1"
                                                          onclick="setPrincipal(this.id)"
                                                          name=<%="projectcheck[#{project.id}]"%>
                                                          <%= disable_check(status_disable) %>
                                                          <%=project_checked(@user.id, project.id)%>>
                          <label class="align-checkbox" for=<%="project_id_#{project.id}"%>><%=project.description%></label>                      
                        </td>
                        <td class="text-center">
                          <input class="form-check-input" id=<%="main_id_#{project.id}"%> 
                                                          type="checkbox" 
                                                          value="1"
                                                          onclick="getValue(this.id)"
                                                          name=<%="projectmain[#{project.id}]"%>
                                                          <%= disable_check(status_disable) %>
                                                          <%=project_main(@user.id, project.id)%>>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <div class="col-12 mb-3">
                  Nenhum projeto cadastrado
                </div>
              <% end %>
            </div>              

            <%= hidden_field_tag :q_name, params[:q_name] %>
            <%= hidden_field_tag :q_position, params[:q_position] %>

          </div>

          <div class="actions pt-2 text-end">
            <% if !status_disable %>
              <%= form.submit "Salvar", class:"btn btn-success input-btn me-1"%>
            <% end %> 
            <%= link_to btn_caption(status_disable), 
                        employee_users_path(q_name: params[:q_name], 
                                            q_position: params[:q_position]), class: 'btn btn-secondary' %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</main>