<% if !@users.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@users_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-result'>
      <thead>
        <tr>
          <th scope='col'>Nome</th>
          <th scope='col'>Nome de Identificação</th>          
          <th scope='col'>Cargo/Função</th>          
          <th scope='col'>Email</th>
          <th scope='col'>Projetos</th>
          <th scope='col'>Status</th>
          <th scope='col' class='text-center col-actions-two'>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class='align-middle'> 
              <%= user.name %> 
              <% if user.admin %> 
                <span class="badge rounded-pill text-bg-warning badge-table">dono</span>
              <% end %>
              <% if user.permission_admin_menu %> 
                <span class="badge rounded-pill text-bg-secondary badge-table">acesso administrativo</span>
              <% end %>              
            </td>
            
            <td class='align-middle'> <%= user.nick_name %> </td>
            <td class='align-middle'> <%= user.position_description %> </td>
            <td class='align-middle'> <%= user.email %> </td>
            <td class='align-middle'> <%= user.amount_projects %> </td>                        

            <% if user.active %> 
              <td class='align-middle'><span class="badge rounded-pill text-bg-success badge-table">Ativo</span></td>
            <% elsif %>
              <td class='align-middle'><span class="badge rounded-pill text-bg-danger badge-table">Inativo</span></td>
            <% end %>

            <td class='align-middle text-center '>
              <%= link_to edit_employee_user_path(user, q_name: params[:q_name], 
                                                        q_position: params[:q_position]), 
                                                        class: 'td-actions', 
                                                        data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Alterar" } do %>
                <i class="fa-regular fa-pen-to-square pe-1"></i>
              <% end %>

              <%if !user.admin %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir">
                  <a class="td-actions" href="#" title="Excluir" data-bs-toggle="modal" 
                    data-bs-target="#delete<%=user.id.to_s%>"><i class="fa-regular fa-trash-can pe-1"></i>
                  </a>
                </span>
              <% else %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Dono não pode ser excluído">
                  <i class="fa-regular fa-trash-can pe-1 unavailable-icon"></i>
                </span>
              <% end %>

            </td>
          </tr>

          <div class="modal modal-delete fade" id="delete<%=user.id.to_s%>" tabindex="-1" 
                aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header"> <i class="fas fa-exclamation-triangle fa-2x modal-header-icon me-2"></i>
                  <h1 class="modal-title" id="deleteLabel">Confirmação</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  Confirma a exclusão do Usuário: <br> <%= user.name %> ?
                </div>
                <div class="modal-footer actions">
                  <%= link_to 'Excluir', employee_user_path(user, q_name: params[:q_name], q_position: params[:q_position]),
                      class:"btn btn-danger", method: :delete %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @users, window: Constants::PAGINATE_WINDOW, remote: true %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>      
