<% if !@tags.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@tags_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-result'>
      <thead>
        <tr>
          <th scope='col'>Descrição da Tag</th>
          <th scope='col'>Projeto</th>
          <th scope='col' class='text-center col-actions-two'>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td class='align-middle'> <%=tag.description%> </td>
            <td class='align-middle'> <%=tag.project_description%> </td>
            <td class='align-middle text-center'>
              <%= link_to tag_path(tag, q_name: params[:q_desc]), 
                                        class: 'td-actions', 
                                        data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar" } do %>
                <i class="fa-regular fa-envelope-open pe-1"></i>
              <% end %>

              <% if current_user.tag_edit %>
                <%= link_to edit_tag_path(tag,  
                                          q_sys: params[:q_sys],
                                          q_desc: params[:q_desc]), 
                                          class: 'td-actions', 
                                          data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Alterar" }  do %>
                  <i class="fa-regular fa-pen-to-square pe-1"></i>
                <% end %>
              <% else %>
                <%=edit_not_allowed%>
              <% end %>  

              <% if current_user.tag_delete %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir">
                  <a class="td-actions" href="#" title="Excluir" data-bs-toggle="modal" 
                    data-bs-target="#delete<%=tag.id.to_s%>"><i class="fa-regular fa-trash-can pe-1"></i></a>
                </span>
              <% else %>
                <%=delete_not_allowed%>
              <% end %>                
            </td>
          </tr>

          <div class="modal modal-delete fade" id="delete<%=tag.id.to_s%>" tabindex="-1" 
                aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header"> <i class="fas fa-exclamation-triangle fa-2x modal-header-icon me-2"></i>
                  <h1 class="modal-title" id="deleteLabel">Confirmação</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  Confirma a exclusão da Tag: <br> <%= tag.description %> ?
                </div>
                <div class="modal-footer actions">
                  <%= link_to 'Excluir', tag_path(tag,q_sys: params[:q_sys],
                                                        q_desc: params[:q_desc]), 
                      class:"btn btn-danger", method: :delete %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @tags, window: Constants::PAGINATE_WINDOW, remote: true %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>      
