<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Tags')%>
      </div>
      <div class="ph-right">
        <% if current_user.tag_create %>
          <%= link_to(new_tag_path( q_sys: params[:q_sys],
                                    q_desc: params[:q_desc]),  class: "btn btn-action btn-success") do %>
            <i class="fa-solid fa-plus"></i></i> Incluir
          <%end%>
        <%end%>
      </div>          
    </div>
    
    <div class="card">
      <div class="card-body card-body-style">
        <%= form_with(url: tags_path, class:'row', method: 'get', local: true) do |form| %>
          <div class="col-12 col-md-4 mb-1">
            <label for="project_id" class="form-label">Projeto</label>
            <%= select_tag :project_id, 
                            form_select_project_allocations(params[:q_sys]),
                            class:"form-select",
                            name:"q_sys",
                            autofocus: true %>
          </div>            
          
          <div class="col-12 col-md-4 mb-1">
            <label for="description_id" class="form-label">Descrição da Tag</label>
            <input type="text" name="q_desc" id="description_id" class="form-control" 
                    maxlength="50" autofocus autocomplete="off" value=<%=params[:q_desc]%>>
          </div>

          <div class="col-btn-search col-12 col-md-4 align-self-end mb-1">
            <%= button_tag  class:"btn btn-outline-success btn-search", id:'btn_consultar_id', 
                            data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'search' %>
  </div>                    
</main>
