<% if !@helps.empty? %>

  <div class="records text-muted text-end">
    Registros encontrados: <%=@helps_size%>
  </div>

  <div id="modal-place"></div>

  <div class="table-responsive border-start border-end">
    <table class='table table-striped table-hover table-result mb-0'>
      <thead>
        <tr>
          <th scope='col'>Ajuda</th>
          <th scope='col' class='text-center'></th>
        </tr>      
      </thead>

      <tbody>
        <% @helps.each_with_index do |help, index| %>
          <tr>
            <td class="align-middle">
              <div class="first-line">
                <span>
                  <span class="fw-semibold text-decoration-none link-dark">
                    <%#= link_to help_path(help, q_sys: params[:q_sys],
                                                q_content: params[:q_content]), 
                                                class:"fw-semibold text-decoration-none link-dark me-2",
                                                data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar Ajuda" } do %>
                      <%= help.title%>
                    <%# end %>
                  </span>

                  <% Methods.get_tags(help.id).each do |tag| %>
                    <span class="badge bg-style bg-tag me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                  <% end %>
                </span>
              </div>
              
              <div class="second-line">
                <span>
                  <span class="me-3">Projeto: <strong><%=help.project_description%></strong></span>
                  <span>Criação: <strong><%=format_date(help.created_at)%></strong></span>
                  <span class="me-3">por <strong><%=help.user_created_name%></strong></span>
                  <span>Alteração: <strong><%=format_date(help.updated_at)%></strong></span>
                  <span class="me-3">por <strong><%=help.user_updated_name%></strong></span>                  
                  <span class="me-3">Código: <strong><%=help.id.to_s.rjust(4, "0")%></strong></span>
                  
                  <span class="me-3">Link: <strong><%=help.link%></strong></span>
                </span>
              </div>
            </td>

            <td class='align-middle text-center '>
              <%#= link_to help_path(help, q_sys: params[:q_sys],
                                          q_content: params[:q_content]), 
                                          class: 'td-actions', 
                                          data: {bs_toggle: 'tooltip', bs_placement: "top", bs_title: "Visualizar Ajuda" } do %>
                <i class="fa-regular fa-envelope-open pe-1"></i>
              <% #end %>
            </td>  

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>    

  <div class="pt-3">
    <%= paginate @helps, window: Constants::PAGINATE_WINDOW, remote: true %>
  </div>   

<% else %>
  <%= render "shared/record_not_found" %>
<% end %>