<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Central de Ajuda')%>
      </div>
      <div class="ph-right">
        <% if current_user.help_create %>
          <%= link_to(new_help_path(q_sys: params[:q_sys],
                                    q_code: params[:q_code],
                                    q_content: params[:q_content],
                                    q_tag: params[:q_tag],
                                    q_order: params[:q_order]
                                    ),
                                    class: "btn btn-action btn-success") do %>
            <i class="fa-solid fa-plus"></i></i> Incluir
          <%end%>
        <%end%>
      </div>          
    </div>

    <div class="card">
      <div class="card-body card-body-style">
        <%= form_with(url: helps_path, class:'row', method: 'get', local: true) do |form| %>
          <div class="col-12 col-lg-3 mb-1">
            <label for="project_id" class="form-label">Projeto</label>
            <%= select_tag :project_id, 
                            form_select_project_allocations(params[:q_sys]),
                            class:"form-select",
                            data: { remote: true, 
                                    url: url_for( controller: "dependencies", 
                                                  action: "project", 
                                                  model_name: "help_search")},                            
                            name:"q_sys",
                            autofocus: true %>
          </div>

          <div class="col-12 col-lg-1 mb-1">
            <label for="code_id" class="form-label">Código</label>
            <input type="text" name="q_code" id="code_id" class="form-control" maxlength="50" 
                    autofocus autocomplete="off" value=<%=params[:q_code]%>>
          </div>          

          <div class="col-12 col-lg-2 mb-1">
            <label for="content_id" class="form-label">Título e Conteúdo</label>
            <input type="text" name="q_content" id="content_id" class="form-control" maxlength="50" 
                    autofocus autocomplete="off" value=<%=params[:q_content]%>>
          </div>

          <div class="col-12 col-lg-2 mb-1">
            <label for="tagsearch_id" class="form-label">Tag</label>
            <%= select_tag :tagsearch_id, 
                            form_select_tag(params[:q_sys], params[:q_tag]),
                            include_blank: "Selecione..", 
                            class:"form-control",
                            name:"q_tag"%>
          </div>

          <div class="col-12 col-lg-2 mb-1">          
            <label for="order" class="form-label">Ordenar por</label>
            <%= select_tag "order", 
                            options_for_select([["Mais Recentes", "newest"], ["Mais Antigas", "oldest"]], 
                                                params[:q_order]),
                                                class:"form-select",
                                                name:"q_order" %>
          </div>

          <div class="col-btn-search col-12 col-lg-2 align-self-end mb-1">
            <%= button_tag class:"btn btn-outline-success btn-search", id:'btn_consultar_id', 
              data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'search' %>
  </div>                    
</main>
