<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Comentário - ' + action_message)%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size shadow">
      <div class="card-body card-body-style brd">

        <%= form_with(model: @request_comment) do |form| %>
          <%= render "shared/error_messages", resource: @request_comment %>

          <div class="row">
         
            <% Methods.request_data(params[:q_id]).each do |request| %> 
              <div class="col-12 mb-3">
                <div class="col-title d-flex align-items-center">              
                  <div class="w-100 ms-2">
                    <div class="first-line">
                      <span class="fw-semibold me-1"><%=request.title%></span>

                      <span class="badge bg-style <%=bg_status(request.status)%> me-2"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Status da Requisição"><%=status_request(request.status)%>
                      </span>                    

                      <% Methods.get_request_tags(request.id).each do |tag| %>
                        <span class="badge bg-style bg-tag me-2"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                      <% end %>

                      <% if request.mark_description.present? %>
                        <span class="badge bg-style <%=color_mark(request.mark.closed)%> me-2" 
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%=mark_description(request.mark.closed)%>">
                          <i class="fa-solid fa-flag me-1"></i><%=request.mark_description%>
                        </span>
                      <% end %>
                    </div>
                    
                    <div class="second-line second-line-show">
                      <span class="avatar avatar-table" data-bs-toggle="tooltip" 
                                                        data-bs-placement="top" 
                                                        data-bs-title="Criado por <%=request.user_created_name%>" >
                        <%= image_tag "emptyuser.png", alt: "empty user" %>
                      </span> 

                      <span>
                        <span class="me-3">Criação: <strong><%=format_datetime(request.created_date)%></strong> </span>

                        <% if I18n.l(request.updated_at, format: "%d/%m/%Y %H:%M") != I18n.l(request.created_at, format: "%d/%m/%Y %H:%M") %>
                          <span class="avatar avatar-table" data-bs-toggle="tooltip" 
                                                            data-bs-placement="top" 
                                                            data-bs-title="Alterado por <%=request.user_updated_name%>" >
                            <%= image_tag "emptyuser.png", alt: "empty user" %>
                          </span> 
                          <span class="me-3">Alteração: <strong><%=format_datetime(request.updated_at)%></strong></span>                        
                        <% end %>                  

                        <span class="me-3">Código: <strong><%=request.id.to_s.rjust(4, "0")%></strong></span>

                        <% if request.customers_name.present? && request.requester_name.present? %>
                          <span class="me-3">Solicitante: <strong><%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%>/<%=request.requester_name%></strong></span>
                        <% elsif request.customers_name.present? %>
                          <span class="me-3">Solicitante: <strong><%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%></strong></span>                    
                        <% elsif request.requester_name.present? %>
                          <span class="me-3">Solicitante: <strong><%=request.requester_name%></strong></span>                                        
                        <% end %>
                      </span>                          
                                     
                    </div>

                    <div class="second-line">
                      <span class="me-3"><%=request.projects_description%></span>                  
                      <span class="me-3">Previsão: <strong><%=request.dues_date.present? ? format_date(request.dues_date) : '--'%></strong></span>
                      <span class="me-3">Responsável: <strong><%=request.user_responsible_name.present? ? request.user_responsible_name : '--'%></strong></span>                  
                    </div>
                  </div>

                  <div class="col-priority-show">
                    <% if request.step == Constants::STEP_EXECUTANDO[1] %>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Em Execução por <%=request.user_responsible_name%>">
                        <i class="fa-solid fa-person-running fa-xl me-3"></i>
                    <% end %>
                  </div>                

                  <% if request.priority %>
                    <div class="col-priority-show">
                      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prioridade">
                        <i class="fa-solid fa-star fa-lg"></i></span>
                    </div>                
                  <% end %>
                </div>
              </div>
            <%end%>    

            <div class="col-12 mt-4 mb-3">
              <div class="field">
                <%= form.label :content, class:"form-label" %>
                <%= form.rich_text_area :content, autofocus: true %>
              </div>            
            </div>

            <%= hidden_field_tag :q_id, params[:q_id] %>
            <%= hidden_field_tag :q_sys, params[:q_sys] %>
            <%= hidden_field_tag :q_status, params[:q_status] %>
            <%= hidden_field_tag :q_content, params[:q_content] %>
            <%= hidden_field_tag :q_order, params[:q_order] %>
          </div>

          <div class="actions pt-4 text-end">
            <%= form.submit "Salvar", class:"btn btn-success input-btn me-1"%>
            <%= link_to request_path(params[:q_id], q_sys: params[:q_sys],
                                                    q_status: params[:q_status],
                                                    q_content: params[:q_content],
                                                    q_order: params[:q_order]),
                                                    class: 'btn btn-secondary' do %>
              Cancelar
            <% end %>  
          </div>

        <% end %>
      </div>
    </div>
  </div>
</main>