<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Comentário - ' + action_message)%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="card card-size shadow">
      <div class="card-body card-body-style brd">

        <%= form_with(model: @request_comment) do |form| %>
          <%= render "shared/error_messages", resource: @request_comment %>

          <div class="row">
         
            <% Methods.request_data(params[:q_id]).each do |request| %> 
              <div class="col-12 mb-3">
                <div class="col-title d-flex align-items-center">              
                  <div class="w-100 ms-2">
                    <div class="first-line">
                      <span class="fw-semibold me-1"><%=request.title%></span>

                      <span class="badge bg-style <%=bg_status(request.status)%> me-2"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Status da Requisição"><%=status_request(request.status)%>
                      </span>                    

                      <% Methods.get_request_tags(request.id).each do |tag| %>
                        <span class="badge bg-style bg-tag me-2"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tag"><%=tag.description%></span>
                      <% end %>

                      <% if request.mark_description.present? %>
                        <span class="badge bg-style <%=color_mark(request.mark.closed)%> me-2" 
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%=mark_description(request.mark.closed)%>">
                          <i class="fa-solid fa-bookmark fa-sm me-1"></i><%=request.mark_description%>
                        </span>
                      <% end %>
                    </div>
                    
                    <div class="second-line second-line-show">
                      <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                  data-bs-placement="top" 
                                                  data-bs-title="Criado por <%=request.user_created_name%>" >
                        <%=user_avatar(request.user_created_id, "")%>
                      </span> 

                      <span>
                        <span class="me-3">Criação: <%=format_datetime(request.created_date)%></span>

                        <% if request.finished_date.present? %>
                          <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                      data-bs-placement="top" 
                                                      data-bs-title="Finalizada por <%=request.user_finished_name%>" >
                            <%=user_avatar(request.user_finished_id, "")%>
                          </span> 

                          <span class="me-3">Finalização: <%=format_datetime(request.finished_date)%></span>
                        <% end %>

                        <% if request.archived_date.present? %>
                          <span class="avatar-small"  data-bs-toggle="tooltip" 
                                                      data-bs-placement="top" 
                                                      data-bs-title="Arquivada por <%=request.user_archived_name%>" >
                            <%=user_avatar(request.user_archived_id, "")%>
                          </span> 

                          <span class="me-3">Arquivamento: <%=format_datetime(request.archived_date)%></span>
                        <% end %>   

                        <span class="me-3">Código: <%=request.id.to_s.rjust(4, "0")%></span>

                        <% if request.customers_name.present? && request.requester_name.present? %>
                          <span class="me-3">Cliente: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%>/<%=request.requester_name%></span>
                        <% elsif request.customers_name.present? %>
                          <span class="me-3">Cliente: <%=request.code.to_s.rjust(4, "0")%>-<%=request.customers_name%></span>
                        <% elsif request.requester_name.present? %>
                          <span class="me-3">Cliente: <%=request.requester_name%></span>
                        <% end %>
                      </span>                          
                                     
                    </div>

                    <div class="second-line">
                      <span class="me-3">Previsão: <%=request.dues_date.present? ? format_date(request.dues_date) : '--'%></span>
                      <span class="me-3">Responsável: <%=request.user_responsible_name.present? ? request.user_responsible_name : '--'%></span>                  
                      <span class="me-3">Projeto: <%=request.projects_description%></span>
                    </div>                  

                  </div>

                  <% if request.status == Constants::STATUS_ABERTA[1] %>
                    <div class="col-priority-show text-muted">
                      <% if request.step == Constants::STEP_EXECUTANDO[1] %>
                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Em Execução por <%=request.user_responsible_name%>">
                          <i class="fa-solid fa-person-running step-execute-color fa-xl me-3"></i>
                      <% elsif request.step == Constants::STEP_CONCLUIDA[1] %>
                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Execução Concluída por <%=request.user_responsible_name%>">
                          <i class="fa-solid fa-child-reaching step-finish-color fa-xl me-3"></i>
                      <% end %>
                    </div>
                    
                    <% if request.priority %>
                      <div class="col-priority-show">
                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Prioridade">
                          <i class="fa-solid fa-star fa-lg"></i></span>
                      </div>                
                    <% end %>
                  <% end %>
                </div>
              </div>
            <%end%>    

            <div class="col-12 mt-4 mb-3">
              <div class="field">
                <%= form.label :content, class:"form-label" %>
                <%= form.rich_text_area :content, autofocus: true %>
              </div>            
            </div>

            <%= hidden_field_tag :q_id, params[:q_id] %>
            <%= hidden_field_tag :q_sys, params[:q_sys] %>
            <%= hidden_field_tag :q_status, params[:q_status] %>
            <%= hidden_field_tag :q_code, params[:q_code] %>
            <%= hidden_field_tag :q_content, params[:q_content] %>
            <%= hidden_field_tag :q_tag, params[:q_tag] %>
            <%= hidden_field_tag :q_customer, params[:q_customer] %>
            <%= hidden_field_tag :q_responsible, params[:q_responsible] %>
            <%= hidden_field_tag :q_mark, params[:q_mark] %>
            <%= hidden_field_tag :q_order, params[:q_order] %>

          </div>

          <div class="actions pt-4 text-end">
            <%= form.submit "Salvar", class:"btn btn-success input-btn me-1"%>
            <%= link_to request_path(params[:q_id], q_sys: params[:q_sys],
                                                    q_status: params[:q_status],
                                                    q_code: params[:q_code],
                                                    q_content: params[:q_content],
                                                    q_tag: params[:q_tag],
                                                    q_customer: params[:q_customer],
                                                    q_responsible: params[:q_responsible],
                                                    q_mark: params[:q_mark],
                                                    q_order: params[:q_order]),
                                                    class: 'btn btn-secondary' do %>
              Cancelar
            <% end %>  
          </div>

        <% end %>
      </div>
    </div>
  </div>
</main>