<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SFHelpdesk</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if File.exist?( (Rails.root + 'app/assets/stylesheets/' + params[:controller]).to_s.singularize + '.css' ) %>
      <%= stylesheet_link_tag params[:controller].singularize %>
    <% end %>
    
    <% if File.exist?( (Rails.root + 'app/assets/javascripts/' + params[:controller]).to_s.singularize + '.js' ) %>
      <%= javascript_include_tag params[:controller].singularize %>
    <% end %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">    
    
    <%= favicon_link_tag asset_path("favicon.png") %>    
  </head>

  <body class="sb-nav-fixed" data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <%= yield %>
  </body>

  <%= render "shared/sidebar_admin" %>

  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });    
  </script>
</html>
